/* LearningTopic.module.css */
.container {
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  background: linear-gradient(to right, #2e6ed4, #eba75e);
  min-height: 90vh;
}
.speechControls { display: flex; align-items: center; gap: 10px; }
h4 {
  margin-bottom: 1.5rem;
  color: #343a40;
  text-align: right;
  margin-right: 22px;
}

.textArea {
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  transition: border-color 0.3s;
  background-color: rgb(222, 231, 220);
}

.textArea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.buttonGroup {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.button {
  min-width: 10%;
}
.sliderValue { 
  font-size: 1.3rem; /* Adjust the font size as needed */ 
  color: #12365b
}

@media (max-width: 480px) {
  .buttonGroup{
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  .button{
    width: 100%;
    margin: 3px;;
  }
  .speechControls{
    flex-direction: row;
    margin-bottom: 10px;
  }
  h4{
    margin-top: 30px;
  }
  .speedbar{
    margin-bottom: 12px;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    padding-left: 2px;
    padding-right: 2px;
  }
}