/* TopicLearning.module.css */

.container {
  width: 100%;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  /* background: linear-gradient(to right, #bac2c7, #E2EBF0); */
  background: linear-gradient(to right, #c9cbce, #bdcce4);

  /* background-color: gray; */
  min-height: 90vh;
}

form input,select  {
  background: linear-gradient(to right, #81f2f6, #7474e9);
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #0a0606;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


label{
  display: block;
  margin-top: 1.5rem;
  color: #040405;
  margin-bottom: 4px;
  font-size: 18px;
}

h4 {
  margin-bottom: 0.5rem;
  color: #343a40;
  text-align: right;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  color: #216ebc;
  margin-bottom: 17px;
  font-size: 7px;
}

.form-control {
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submitButton {
  margin: 20px 20px;
}
.homebutton {
  position: fixed;
  top: 20px;
  left: 20px;
}

.btn:hover {
  background-color: #0056b3;
}
