.fadeOut {
  animation: fadeOutEffect 0.9s ease-in-out forwards;
}

@keyframes fadeOutEffect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(0.95); /* Slight shrink for a smoother effect */
  }
}
