.header {
  margin-top: 20rem;
  margin-bottom: 20px;
  text-align: center;
}

.textArea {
  margin-bottom: 20px;
  resize: none;
  background-color: rgb(235, 239, 235);
}
.buttoncontainer{
  margin-bottom: 50px;
}
