.container {
  width: 90%; /* Adjusted width for better focus */
  max-width: 600px; /* Limit the maximum width */
  margin: 30px auto; /* Center the container */
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
  background: linear-gradient(to right, #76daf6, #ef6eeb); 
  min-height: 90vh;
}
.formcontainer{
  padding: 40px;
}
 .formGroup label {
  margin-top: 18px;  
  font-size: 18px;

  display: block;
  
  margin-bottom: 15px;
  color: #050d80; /* Steel gray */
  font-weight: 400; 
  transition: color 0.3s ease; /* Add transition to label color */
}

.formGroup:hover label {
  color: #34495e; /* Darker gray on hover */
}
.formControl {
  border: none;
  border-radius: 12px; /* Unique rounded corners */
  padding: 15px 20px; 
  font-size: 1rem;
  background: linear-gradient(135deg, #f0f8ff, #e9ecef); /* Diagonal gradient */
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Unique glowing outline with multiple colors */
  outline: 2px solid transparent; 
  outline-offset: 2px;
  transition: outline-color 0.3s ease, box-shadow 0.3s ease; 
}

.formControl:focus {
  outline-color: #74b9ff; /* Light blue */
  box-shadow: 0 0 0 5px rgba(20, 19, 19, 0.3);  /* Subtle red spread */ 
}

.formControl::placeholder {
  color: #95a5a6; /* Placeholder color */
  font-style: italic; 
}
h2{
  font-size: 28px;
  margin: 20px;
}
.textLeft {
  text-align: left;
}

.textArea {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  min-height: 200px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to bottom right, #f3ae73, #FFFFFF 50%, #FFFFFF 50%, #4dac5a);

  color: #333333;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-primary {
  background-color: #4caf50;
  color: white;
}

.btn-warning {
  background-color: #ff9800;
  color: white;
}

.btn:hover {
  transform: scale(1.05);
}

.homeButton {
  position: fixed;
  top: 10px;
  left: 10px;
}

.generateButton {
  margin: 10px 0px;
  align-items: center;
}
@media (max-width: 480px) {
  .copyButton{
    margin: 9px;
  }
  .buttongroup{
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
}
