.imagecontainer {
  position: relative; /* Important for positioning the button */
  width: fit-content; /* Adjust according to your needs */
}

.backgroundimage {
  display: block; /* Ensures the image behaves like a block element */
  width: 100%; /* Adjust according to your needs */
  height: auto; /* Maintain aspect ratio */
  background-size: cover;
}

.overlaybutton {
  position: absolute; /* Positioning the button absolutely within the container */
  top: 70%; /* Center vertically */
  left: 50%; /* Center horizontally */
   transform: translate(-50%, -50%); /*Fine-tune positioning */
  background-color: rgba(237, 230, 17, 0.7); /* Semi-transparent background */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Padding around the button text */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 25px; /* Font size of the button text */
  border-radius: 5px; /* Rounded corners */
}

/* Optional: Hover effect for the button */
.overlaybutton:hover {
  background-color: rgba(212, 249, 0, 0.9);
}
@media (max-width: 768px){
  .overlaybutton{
    font-size: 22px; /* Adjust font size for smaller screens */
    padding: 8px 16px; /* Adjust padding for smaller screens */
    border-radius: 3px; /* Adjust border radius for smaller screens */
    size: 30px;
    top: 75%;
  }
}


@media (max-width: 480px){
  .overlaybutton{
    font-size: 10px; /* Adjust font size for smaller screens */
    padding: 8px 15px; /* Adjust padding for smaller screens */
    border-radius: 3px; /* Adjust border radius for smaller screens */
    size: 30px;
    top: 73%;
  }
  .backgroundimage {
    display: block; /* Ensures the image behaves like a block element */
    width: 100%; /* Adjust according to your needs */
    height: auto; /* Maintain aspect ratio */
    justify-content: end;
    /* background-size: cover; */
    height: 50vh;
  }
}
