.welcomeDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.welcomeText {
  color: rgb(123, 209, 225);
  font-family: "Lucida Handwriting", cursive;
   font-size: 30px;
  text-align: center;
  padding: 20px;
  margin: 0px;
}

.ParthInfotech{
  color: rgb(123, 209, 225);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  margin: 0px;
}

.startButton {
  font-family:cursive;
  font-size: 25px;
  margin: 20px;
  padding: 10px 20px;
  min-width: 8rem;
  background-color: #070809;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-color: #85f7f1;
  border-width: 3px;
}
.empowering{
  font-size: 20px;
  color: white;
}
.learnerandtutor{
  font-size: 32px;
  color: white;
}
.blur{
    filter: blur(7px);
  -webkit-filter: blur(7px);
}
.startButton:hover {
  border-color: #000000;
  font-size: large;
  color: rgb(0, 0, 0);
  background-color: #97ecea;
  transform: scale(1.05);
}
.bot1,.bot2,.bot3,.bot4{
  width:7%;
  height: auto;
  border-radius: 25px;
}
.bot1{
  left: 2%;
  top: 2%;
  position: absolute;
}
.bot2{
  right: 2%;
  top: 2%;
  position: absolute;
}
.bot3{
  left: 2%;
  bottom: 2%;
  position: absolute;
}
.bot4{
  right: 2%;
  bottom: 2%;
  position: absolute;
}
/*  ---:STARTING THE FUNCTIONALITIES CSS :---*/
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.MainButton {
  margin: 20px;
  float: right;
  left: 36%;
}
.logo{
  width:50px;
  margin:10px;
  border-radius: 7px;
}

.CompanyName{
  font-size: 60px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
  background: linear-gradient(270deg , #1565C0, #2E7D32, #424242, #1565C0); /* Define gradient colors  #018878, #004D40 */
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 8s ease infinite;
  /* writing-mode: vertical-lr; /* Set vertical writing mode */ 
  /*text-orientation: upright;  Ensure text is upright */
}
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.overlay::before{
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  z-index: -1;
}
.overlay {
  background-size:cover;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url('../assets/homepagema.jpg');
  opacity: 0.8;
  filter: brightness(0.7);
}
.functionalitiesName{
  color: black;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
  padding: 10px;
}
.content {
  margin: 2% 4%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  max-height: 280vh; /* Limit the height for scrollability */
  overflow-y:hidden; /* Enable vertical scrolling */
  padding: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3); /* Optional for aesthetics */
}

.card {
  width: 210px;
  height:180px;
  padding: 10px;
  background: rgba(8, 1, 1, 0.9);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(19, 19, 19, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  font-family:serif;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(239, 243, 244, 0.8);
}

.title {
  font-size: 24px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #03fff2;
  margin: 13px;
}

.description {
  font-size: 18px;
  font-family: sans-serif;
  color: #ffffff;
}

/* TABLET MEDIA CSS */
@media (max-width: 768px) {
  /* .uppercontent {
    display: flex;
  } */
  .CompanyName{
    font-size: 50px;
    margin-left: 10px;
    font-weight: 500;
    color: #ffffff;
    /*writing-mode: vertical-lr;  Set vertical writing mode */ 
    /*text-orientation: upright;  Ensure text is upright */
  }
  .content {
    margin:2px;
    max-height: 70vh; 
    gap: 15px;
    padding: 10px;
    overflow-y: scroll;
  }

  .card {
    width: 190px;
    height:150px;
    padding: 8px;
  }
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(247, 244, 244, 0.8);
  }
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 14px;
  }
  .MainButton {
    margin: 10px;
    /* position: relative; */
    float: right;
    left: 310px;
  }
  .logo{
    width:50px;
    margin:10px;
    border-radius: 7px;
  }
  
    .bot1,.bot2,.bot3,.bot4{
      width:75px;
      height: auto;
      border-radius: 25px;
    }  
}
/* MOBILE CSS MEDIA*/
@media (max-width: 480px) {
  .functionalitiesName{
    color: black;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
    padding: 10px;
  }
  /* .uppercontent {
    display: flex;
    align-items: center;  Align items in the center 
  } */
  .CompanyName {
    font-size: 40px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    /*background: linear-gradient(to right, #818080, #0c0c0c);  Adjust colors and direction as needed 
    background: linear-gradient(to right,  #018878, #004D40);
    -webkit-text-fill-color: transparent;
    white-space: pre-wrap; /* Preserve whitespace and line breaks */ 
    /*writing-mode: vertical-rl;  Set vertical writing mode */ 
    /*text-orientation: upright;  Ensure text is upright */
  }
  .content {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    height: 100vh;
    box-shadow: inset 0 0 12px rgba(20, 9, 15, 0.5);
    flex-grow: 1; /* Allow content to take the remaining space */
  }
  .card {
    width: 280px; /* Make cards take up more space */
    height: fit-content;
    margin: 0px 0px; /* Add spacing between cards */
  }
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(153, 221, 238, 0.8);
  }
  .MainButton {
    font-size: 20px;
    width: 100px;
    margin: 10px;
    position: relative;
    float: right;
    left: 20px;
  }
  .logo{
    width:40px;
    height: 40px;
    margin:10px;
    border-radius: 7px;
  }
  .overlay{
    opacity: 0.8;
    width: 100%;
  }
  .bot1,.bot2,.bot3,.bot4{
    width:75px;
    height: auto;
    border-radius: 25px;
  }   
  .empowering{
    font-size: 18px;
    color: white;
  } 
  .learnerandtutor{
    font-size: 28px;
    color: white;
  }
}