body,html{
  margin: 0; padding: 0; width: 100%; height: 100%;
}
.Outer-container{
  display: flex;
}
.sidebar{
  width:20%
  
}
.right-outlet{
  width: 80%;
}

.App-image{
  width: 50%;
  height:70%;
  float: left;
}
