/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'tailwindcss';

:root {
  --color-primary:#060812;
  --color-secondary:#0f3760;
  --color-accent:#ef5262;
  --color-cardaccent:#f47c88;

  --font-heading:sans-serif;
}

.white-rounded-border {
  --secondary-blue: #0f3760;

  position: relative;
  border-radius: 1rem; /* Adjust as per the `rounded-lg` size */
  overflow: hidden;
}
h2{
  color: white;
}

.white-rounded-border::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: linear-gradient(to right, #ffffff, #ffffff);
  border-radius: inherit;
}

:root {
  --primary-black: #18181b;
  --primary-violet: #4a1d96;
  --accent-teal: #06b6d4;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width:100%;
  min-height: 100vh;
}
.container {
  width: 100%;
  max-width: 1200px; /* or any other desired maximum width */
  margin: 0 auto;
  padding: 0 1rem; /* or any other desired padding */
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
